.filmaffinity-addon {
  font-size: 1.2vw;
  padding: 1em;
  height: 50%;
  z-index: 10000;
  text-align: right;
  background-image: linear-gradient(to top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 33%,rgba(0,0,0,.85) 100%);

  a:hover {
    text-decoration: underline;
  }

  &__label {

  }
  &__rating {
    font-weight: bold;
  }
}
